*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #EFEEF1
}
.navbar{
  background-color: #2b2828;
  margin-top: 3%;
  justify-content: flex-start;
}
.li-navbar{
  list-style: none;
  margin-left: 10%;
}
.li-navbar:hover{
  background-color: white;
  cursor: pointer;
}
.welcome{
  margin-top: 10%;
  margin-left: 30%;
  color: #cc3030;
}
.links{
  text-decoration: none;
  color: white;
}
.links:hover{
  color: #2b2828;
}
.form-profile{
  width: 30%;
  margin-top: 2%;
  margin-left: 30%;
}
.input-profile,.textarea-profile{
  margin-top: 2%;
}
.textarea-profile,.textarea-dietary-pets,.textarea-bio-pet{
  resize: none;
  height: 130px;
}
.sign-in-btn{
  margin-left: 80%;
}
.sign-up-btn{
  margin-left: 3%;
}
.welcome-website{
  margin-left: 25%;
}
.sign-out-btn{
  margin-left: 90%;
}
.email-profile-settings,.password-profile-settings{
  background-color: gray;
  color: white;
}
.btn-search-pets{
  width: 150px;
}
.card-to-search{
  width: 30%;
  margin-left: 5%;
}
.card-to-search:hover{
  transform: scale(1.2);
}
.form-add-pets{
  width: 40%;
  margin-left: 5%;
  margin-top: 5%;
}
.btn-add-pets{
  margin-left: 83%;
}
.form-add-pets-additions{
  width: 40%;
  margin-left: 5%;
  margin-top: 5%;
}