*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #EFEEF1
}
.navbar{
  background-color: #2b2828;
  margin-top: 3%;
  justify-content: flex-start;
}
.li-navbar{
  list-style: none;
  margin-left: 10%;
}
.li-navbar:hover{
  background-color: white;
  cursor: pointer;
}
.welcome{
  margin-top: 10%;
  margin-left: 30%;
  color: #cc3030;
}
.links{
  text-decoration: none;
  color: white;
}
.links:hover{
  color: #2b2828;
}
.form-profile{
  width: 30%;
  margin-top: 2%;
  margin-left: 30%;
}
.input-profile,.textarea-profile{
  margin-top: 2%;
}
.textarea-profile,.textarea-dietary-pets,.textarea-bio-pet{
  resize: none;
  height: 130px;
}
.sign-in-btn{
  margin-left: 80%;
}
.sign-up-btn{
  margin-left: 3%;
}
.welcome-website{
  margin-left: 25%;
}
.sign-out-btn{
  margin-left: 90%;
}
.email-profile-settings,.password-profile-settings{
  background-color: gray;
  color: white;
}
.btn-search-pets{
  width: 150px;
}
.card-to-search{
  width: 30%;
  margin-left: 5%;
}
.card-to-search:hover{
  transform: scale(1.2);
}
.form-add-pets{
  width: 30%;
  margin-left: 5%;
  margin-top: 1%;
}
.btn-add-pets{
  margin-left: 65%;
}
.form-add-pets-additions{
  width: 30%;
  margin-left: 5%;
  margin-top: 1%;
}
.search-filters{
  width: 22%;
  height: 85vh;
  background-color: #4754e5;
  color: white;
  margin-top: 3%;
}
.pet-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 280px;
}
.pet-card{
  list-style: none;
  border: 1px solid black;
  width: 250px;
 margin-top: 1%;
}
.img-pet-card{
  width: 80px;
  height: 80px;
}
.my-pets{
  margin-left: 3%;
}
.saved-pets{
  width: 50%;
}
.table{
  margin-left: 10%;
}
.petsDashboard-id,.petsDashboard-name,.petsDashboard-status,.petsDashboard-color,.petsDashboard-breed,.petsDashboard-type,.petsDashboard-user{
  border: 1px solid black;
  width: 100px;
  text-align: center;
}
.petsDashboard-user{
  width: 150px;
}
.data-petsDashboard{
  height: 65px;
  text-align: center;
}
.petsDashboard{
  margin-left: 15%;
}
.btn-unadmin{
  margin-left: -134%;
}